body {
  padding: 0 15% 0 15%;
  font-family: "Noto-Sans", Arial, sans-serif;
  background-color: #222222;
  color: #fdffcd
}

h1 {
  font-family: "Noto-Sans", Arial, sans-serif }
a:link {
  color: blue }
a:visited {
  color: purple }

.light-green {
  color: #d8da3d;
}
.orange {
  color: #f19e39;
}

@media (max-width: 520px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
}
